html,body{
    margin: 0px;
    padding: 0px;
}
.off{
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
}

.nav-frame h1{
    width: auto;
    font-size: 40px;
    /* position: absolute;
    right: 30px; */
    display: block;
}
.form-frame{
    margin:150px 10px 10px 10px;
    /* border: white 5px solid; */
    font-family: sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight:500;
    line-height: 40px;
    letter-spacing: 0em;
    padding: 30px;
    background-color: rgba(186, 192, 182, 0.342);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
label{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-weight:600;
}
input{
    height: 50px;
    border-radius:10px;
    font-size: 18px;
    width: 90%;
}
.form-row1 input{
    width: 30%;
    margin-left: 10px;
}

.form-row2{
    width: 100%;
}

.form-row3-1{
    margin-top: 20px;
}
.form-row3-1-name{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.form-row3-2{
    font-size: 22px;
    line-height: 50px;
    font-weight:200;
}
.form-row2 input{
    font-size: 20px;
    width: 30%;
}
.star{
    color:rgb(228, 31, 31);
}

.formSumitBasic{
    width: 20%;
    cursor: pointer;
    margin-top: 30px;
    font-size:25px;
    padding: 10px;
    height:fit-content;
    font-weight: bold;
    background-color: rgb(45, 94, 73);
    color: cornsilk;
}

.formSumitBasicCheck{
    width: 20%;
    cursor: pointer;
    margin-top: 30px;
    font-size:25px;
    padding: 10px;
    height:fit-content;
    font-weight: bold;
    background-color: rgb(112, 116, 114);
    color: cornsilk;
}
.formSumit button{
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 40px;
    font-size:25px;
    padding: 10px;
    height:fit-content;
    font-weight: bold;
    background-color: rgb(245, 213, 31);
    color: rgb(19, 15, 2);

}

.myForm{
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 95%;
    
}

table{
    margin: auto;
    line-height: 30px;
    width: 100%;
    flex-wrap: wrap;
}
table,td {
    
    padding: 20px;
    font-size:25px;
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    height: 80px;
}
.Statistic{
    border-radius: 10px;
    font-size:30px;
    padding: 20px;
    height:fit-content;
    font-weight: bold;

}
.nav-frame{
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3;
}

.nav-frame button{
    margin: 10px;
    padding: 15px;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0em;
    border-radius: 40px;
    background-color: rgb(236, 142, 18);
    color: rgb(239, 240, 226);
    cursor: pointer;
} 
.nav-frame button:hover{
    background-color: rgb(28, 207, 163);
}
.Result{
    margin:150px 10px 10px 10px;
    padding: 15px;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0em;
    line-height:2em;
}
.head{
    margin: auto;
    text-align: center;
    font-size: 40px;

}

.Result1{
    border:1px slategray solid;
    padding: 10px;
    margin: 10px;
    line-height: 60px;
}
.Result1 h2{
    font-size: 30px;
    background-color: rgba(112, 128, 144, 0.164);
    text-align: center;
    padding: 10px;
}
.HomePageResult{
    display: none;
}

.ans{
    color: rgb(128, 103, 128);
    padding-left: 15px;
}
.Result2{
    border: 1.5px dashed gray;
    margin-top: 20px;
    padding: 10px;
}
.Result3{
    border: 1.5px solid gray;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(215, 236, 135, 0.267);
}


.ReportCar{
    background-color: rgba(255, 136, 0, 0.164);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.ReportCar:hover {
    font-size:1.1em;
    transform: scale(1.1);
    background-color: rgba(255, 136, 0, .4);
}
.blank{
    display: flex;
    justify-content: center;
    margin-top: 400px;
}
.blank i{
    font-size: 500px;
    color: rgba(162, 173, 170, 0.844);
}

@media screen and (max-width: 600px){

    body, html{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .nav-frame h1{
        font-size: 30px;
        
    }
    .form-frame input{
        width: 90%;

    }

    #root{
        margin: auto;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-frame{
        background-color: wheat;
        width: 100%;
        position: fixed;
        top:0px;
        left: 0px;
    }
    .form-frame{
        width: 95%;
        margin:300px 10px 10px 10px;
        font-family: sans-serif;
        font-size: 27px;
        font-style: normal;
        font-weight:500;
        line-height: 40px;
        letter-spacing: 0em;
        padding: 30px;
        background-color: rgba(186, 192, 182, 0.342);
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .myForm table, thead, tbody, th, td, tr {
        display: block;
    }

    .myForm thead tr {
        display: none;
    }
 

    .myForm tr:nth-child(odd) {
        background: #ccc;
        margin-bottom: 20px;
      }
    .myForm td {
        /* Behave  like a "row" */
        border:1px solid rgb(177, 159, 159);
        position: relative;
        vertical-align: middle;
        line-height: 60px;
        width: 100%;
        /* border:1px solid rebeccapurple; */


    }
    .myForm td:nth-of-type(1):before { 
        content: "序號"; 
    }

    .myForm td:nth-of-type(2):before { 
        content: "委託單位"; 
    }
    .myForm td:nth-of-type(3):before { 
        content: "產源地址"; 
    }
    .myForm td:nth-of-type(4):before { 
        content: "產源電話"; 
    }
    .myForm td:nth-of-type(5):before { 
        content: "數量預估(桶數)"; 
    }
    .myForm td:nth-of-type(6):before { 
        content: "委託者(產源)簽章"; 
    }
    .myForm td:nth-of-type(7):before { 
        content: "刪除"; 
    }

    .myForm td input:before{
        position: absolute;
        top: -25px;
        left: 20px;
        width: 90%;
        white-space: nowrap;

    }
    .myForm .rdtDays, .rdtPicker{
        display: none;
    }

    .myForm{
        margin: auto;
        width: 100%;
        
    }
    .myForm table{
        border: none;
    }
    .formSumit{
        margin:auto;
        width: 90%;
        border: 1px solid rgb(14, 12, 9);
    }
    .myForm hr{
        width: 90%;
    }
    .formSumitBasic{
        width: 200px;
    }
    .Result{
        width: 100%;
        margin:300px 10px 10px 10px;

    }
    .blank i{
        font-size: 50vw;
    }

}

